body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ball {
  position: absolute;
  background-image: url(./chrome-ball.png);
  background-position: center;
  background-size: cover;
  height: 7vh;
  width: 7vh;
}
